@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;600&display=swap');

$white: rgb(247, 244, 244);
$dark: rgb(35, 33, 33);
$veige: rgb(187, 156, 100);
body {
  height:100vh;
  background-image: linear-gradient(to right top, #f3f6f6, #dfeef0, #cbe5ec, #b8dce9, #a7d2e8);
  color: $dark;
}

